
@{
    ViewBag.Title = "History";
}

<h2 style="margin-top:30px;color:white;background-image:radial-gradient(circle, black 25%, midnightblue, navy);text-align:center">
    History
 
</h2>


<div id="content" style="background-color:white">
    <table>
        <tr>
            <td>
                <img src="~/Pictures/Fishfossil.jpg" alt="fishfossil" width="500" height="550"/>
            </td>
            <td valign="top" align="center">
                <p class="right"><strong style="font-size:x-large">History of fish</strong> <br /><br /> The history of fish is yadyada
               </p>
            </td>
        </tr>
    </table>
    <div class="text-center" style="display:inline">  </div>
    <div>
        <H3 class="text-center"> The history of fish as we know it</H3>

        yada fish history yada yada
    </div>



    <div>

    </div>

</div>

