@model IEnumerable<TwoFish.WebUI.Models.Fish>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:30px;color:white;background-image:radial-gradient(circle, black 25%, midnightblue, navy);text-align:center">
    Welcome to TwoFish!
    <br><br> An information based encyclopedia to all and any fish.
</h2>


<p>

</p>
<div id="content" style="background-color:white">
    <h3>Fish of the day: <b>Large Mouth Bass</b> </h3>
    <table>
        <tr>
            <td>
                <img class="left" src="~/Pictures/LargeMouth.png" alt="LargeMouthBass">
            </td>
            <td>
                <p class="right"><strong>History</strong> The largemouth bass is a carnivorous freshwater gamefish in the Centrarchidae family, a species of black bass native to much of the United States And Northern Mexico.
                <p>
                    <strong>Weight</strong> 12 Lbs on average
                </p>
            </td>
        </tr>
    </table>


    <div>
        <img class="right" src="~/Pictures/LMbass.jpg" alt="LMbass">
        <strong></strong><p class="bottom-right">
            Click here to go to
            <a href="~/Fish/NotFound"> Large Mouth Bass </a>
    </div>

</div>
<h2 style="margin-top:30px;color:white;background-image:radial-gradient(circle, black 25%, midnightblue, navy);text-align:center">
   <br />
    Thank you for visiting!
    <br />
    <br/>
    </h2>
