
@{
    ViewBag.Title = "NotFound";
}

<h2></h2>

<div id="content" style="background-image:url(../Pictures/FishHook.jpg);color:white;margin-top:50px;">
    <br /><br /><br /><br /><br /><br />
    <h3 style="margin-top:100px;"><b>Oops! </b> Page is not found </h3>
  
    <h3>Click<a href="~/Fish/"> here </a>to go home</h3>
</div>
